name: Flutter Build

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build Flutter App
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repository
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Setup Flutter
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: 3.32.2
          channel: stable

      # 3. Cache Pub dependencies
      - name: Cache Pub packages
        uses: actions/cache@v3
        with:
          path: |
            ~/.pub-cache
            .dart_tool
          key: ${{ runner.os }}-pub-${{ hashFiles('**/pubspec.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pub-

      # 4. Install dependencies
      - name: Flutter pub get
        run: flutter pub get

      # 5. Run Flutter analyze
      - name: Flutter analyze
        run: flutter analyze

      # 7. Build APK (Android)
      - name: Build APK
        run: |
          flutter build apk --release 
          mv build/app/outputs/flutter-apk/app-release.apk build/app/outputs/flutter-apk/SkibidiRoast.apk

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: SkibidiRoast.apk
          path: build/app/outputs/flutter-apk/SkibidiRoast.apk


